
body {
    font-family: 'Product Sans';
    overflow: overlay;
    height: 100%;
    position: relative;
}


input:focus {
    outline: none !important;

}
span {
    padding: 0px;
}
.searchButton {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
.search-input {
    padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.search-box > a {
    color: black;
}
.search-box > a:hover {
    color: rgb(68, 0, 0);
}
.back {
    background-color: #2B2B2B;
    height: auto;
}
.top-links {
    color: white;
    padding: 1.2vw;
}
.top-links > a {
    padding-right: 3.052083333333333vw;
    text-align: center;
    justify-content: center;
}
.top-links > a:hover {
    color: white;
}
.top-links > span {
    padding-left: 5px;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(0, 0, 0);
    padding-left: 26.041666666666668vw;
}
.btn-search:hover {
    cursor: pointer;
}
.brand {
    display: flex;
    padding: 15px;
}
.header-headings {
    padding: 0 15px;
}
.header-headings > h2 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 0;
    margin-top: 1px;
}
.header-headings > h4 {
    font-size: 25px;
    color: white;
    line-height: 20px;
}
.header-headings > .quick-links > a {
    font-size: 16px;
    color: white;
    line-height: 15px;
    padding-right: 30px;
}
.header-headings > .quick-links > i {
    font-size: 16px;
    color: white;
    line-height: 15px;
    padding-right: 5px;
}
.news-bar {
    background-color: #C21800;
    height: 22px;
    color: white;
    
}
.news-bar > p {
 width: 100%;
 height: 100%;
 margin: 0;
 text-align: center;
}

.end-bar{
    background-color: #2B2B2B;
    height: 15px;
}

/* CATEGORY LISTING */
.category-h {
    background-color: #C21800;
    color: white;
}
.categories {
    background-color: #2B2B2B;
    color: white;
}
/* PRODUCT CARD */
.headings {
    text-align: center;
    padding: 5px;
    background-color: #B81600;
    color: white;
    font-weight: bold;
}
.name-prod {
    font-size: 16px;
    font-weight: 600;
}
.product-bottom {
    display: flex;
    padding: 5px;
}
.img-prod {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-img {
    padding: 10px;
}
.product-price-dph {
    font-weight: 700;
    font-size: 18px;
}
.add-to-cart {
    padding-right: 2vw;
}
.product-name {
    background-color: #B81600;
    color: white;
    padding: 5px;
    text-align: center;
    min-height: 55px;
    max-height: 55px    ;
}
.product-price-wdph {
    font-size: 9px;
    color: grey;
    text-align: right;
    line-height: 5px;
}
.has-value-input {
    background-color: lightyellow;
    pointer-events: none;
}
.product-card{
    -webkit-box-shadow: 5px 6px 16px -2px #616161; 
box-shadow: 5px 6px 16px -2px #616161;
max-height: 266px;
min-height: 266px;
margin-bottom: 2vw;
}
.product-nam{
    text-align: center;
    padding: 30px;
    
}
.category-card{
    -webkit-box-shadow: 5px 6px 16px -2px #616161; 
    box-shadow: 5px 2px 16px 5px #e7e7e7;
    max-height: 200px;
    min-height: 100px;
    margin-bottom: 10px;
    text-align: center;
    border: solid 1px #e7e7e7;
}
.category-card {
    transition: 0.5s;
} 
.category-card:hover{
    transform: scale(1.05);
}
.category-link:hover{
    text-decoration: none;
    
}
.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}
.pagination li a {
    box-sizing: border-box;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
}
.pagination li a:hover {
    background-color: #2B2B2B;
    color: white;
}
.pagination .next a, .pagination .prev a {
    text-transform: uppercase;
    font-size: 18px;
}
.pagination .currentpage a {
    background-color: #2B2B2B;
    color: white;
}

/* FOOTER */ 
.footer-back {
    background-color: #2B2B2B;
    

}
#footer {
    color: white;
    

}
.footer-h {
    font-size: 25px;
    
}

.map {
    padding: 10px;
}

/* PRODUCTS */ 
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
.price-product {
    font-size: 35px;
    font-weight: 700;
    color: #B81600;
    float: right;
}
.add-to-cart-related {
    padding-right: 1vw;
}
.product-card{
    -webkit-box-shadow: 5px 6px 16px -2px #616161; 
box-shadow: 5px 6px 16px -2px #616161;
max-height: 266px;
min-height: 266px;
margin-bottom: 2vw;
border-radius: 10px;
background-color: white !important;
z-index: 2;
}

/*********************************************************/
/* Toto je scrollbar, ktorý urobil Maťko dňa 13.02.2021.
    Maťko ľúbi robiť takého komentáre <3 */
::-webkit-scrollbar {
    width: 12px;
    
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#c21800; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BF1600; 
  }
/*********************************************************/
input{
    margin-bottom: 10px;
}



.fa-arrow-right{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fa-arrow-right.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}








/*Aleksove responsivne veci <3*/
@media only screen and (max-width: 576px) {
    .header_desktop {
      display: none;
    }

    .header_mobile {
        display: block;
    }

    .brand {
        display: flex;
        justify-content: center;
        padding: 15px 15px 0 15px;
    }

    .mobile_buttons{
        margin-left: 20%;
    }

    .carousel{
        display: none;
    }

    .end-bar{
        display: none;
    }

    .category-list{
        display: none;
    }


  }

  @media only screen and (min-width: 577px) {
    .header_desktop {
      display: block;
    }

    .header_mobile {
        display: none;
    }
  }



  /*collapse pre mobilný header*/
  .collapse {
    display: none;
  }
  .collapse.in {
    display: block;
  }
  tr.collapse.in {
    display: table-row;
  }
  tbody.collapse.in {
    display: table-row-group;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
         -o-transition-property: height, visibility;
            transition-property: height, visibility;
  }

  .parent {
    height: 100%;
  }
  
  .child {
    height: 40%;
   
  }

  /**********************************************Služby*****************************************************/
  .alu-card{
    -webkit-box-shadow: 5px 6px 16px -2px #616161; 
    box-shadow: 5px 6px 16px -2px #616161;
    max-height: 340px;
   
    margin-bottom: 1vw;
    height: 100%;
    border-radius: 10px;
    
  }

.zostavy {
    background-image: url("../images/sluzby/zostavy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.opravy {
    background-image: url("../images/sluzby/opravy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.skylink {
    background-image: url("../images/sluzby/skylink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.ekasa {
    background-image: url("../images/sluzby/ekasy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.zostava_p{
    color: white;
    text-align: center;
    padding-top: 15%;
    font-size: 30px;
}

.opravy_p{
    color: white;
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}

.ekasa_p{
    color: white;
    text-align: center;
    padding-top: 7%;
    font-size: 30px;
}

  